h1 {
  margin-bottom: 32px;
}

/* ================
   COMPONENTS BOXES
   ================ */
.content-wrapper {
  width: 100%;
  max-width: 1024px;
  margin: 32px auto;
}

.sidebar-nav {
  margin-top: 8px;
  padding: 0;

  list-style: none;
}

.current-page {
  padding: 0 32px;
}

.page-links {
  margin: 16px auto;
}